/* CSS Variables for customization */
:root {
  --wiki-primary-color: #87a3cf !important;
  --wiki-secondary-color: #7784A3 !important;
  --wiki-accent-color: #7197b8 !important;
  --wiki-text-primary: #7784A3 !important;
  --wiki-text-secondary: #7197b8 !important;
  --wiki-text-accent: #7197b8 !important;
  --wiki-bg-primary: #19326F99 !important;
  --wiki-bg-secondary: #2c3c64b3 !important;
  --wiki-bg-tertiary: #141e3766 !important;
  --wiki-bg-hover: #2a4b9266 !important;
  --wiki-border-width: 4px !important;
  --wiki-border-radius: 0 !important;
  --wiki-warning-color: #f4b367 !important;
  --wiki-success-color: #7cc67f !important;
  --wiki-font-family: "Lexend", sans-serif !important;
  --wiki-body-bg-color: #0C0F27 !important;
    --link-color: var(--wiki-primary-color) !important;
    --wiki-gallery-tab-color: #443B9C !important;
    --wiki-gallery-tab-hover-color: #796cf0 !important;
    --wiki-gallery-tab-active-color: #4AA1FF !important;
}