html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    font-family: "Lexend", system-ui, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    max-width: 40ch;
}

.text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    white-space: pre-line;
}

.hidden-message, .hidden-message a {
    margin-top: 12px;
    font-size: 10px;
    color: #000;
}

.hidden-message:hover, .hidden-message a:hover {
    color: #111;
}

.back {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    text-decoration: none;
}

.back:hover {
    color: #fff;
}
