body {
    background-image: url('https://raccstarlogan.com/portfolio/projects/scytheful/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}